body {
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

ul {
  padding-left: 0px;
}

.heading {
  height: 290px;
  background-size: auto;
  background: url("../images/the-flatiron-building.png");
  text-align: center;
}

.section {
  text-align: center;
}

.nav p {
  color: white;
  font-size: 18px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

h4 {
  font-size: 14px;
  font-weight: normal;
}

.subheading {
  background-size: auto;
  background: url("../images/the-flatiron-building.png");
  text-align: center;
}

.subheading h2 {
  font-size: 23px;
  color: white;
}

.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
}

.footer a {
  font-size: 20px;
}

a:link{
  color:white;
}
a:visited{
  color:white;
}
a:hover{
  color:white;
}
a:focus{
  color:white;
}
a:active{
  color:white;
}
